<h2>Edit info</h2>
<form action="/profile" method="POST">
  <div class="row">
    <div class="input-field col s12 m3">
    <label for="image">Picture Url</label>
    <input type="url" id="image" name="image" class="validate" placeholder="<%=currentUser.image%>">
    </div>
    <div class="input-field col s12 m3">
    <label for="weight">Weight(lb)</label>
    <input type="number" id="weight" name="weight" class="validate" placeholder="<%=currentUser.weight%>">
    </div>
    <div class="input-field col s12 m3">
    <label for="height">Height(in)</label>
    <input type="number" id="height" name="height" class="validate" placeholder="<%=currentUser.height%>">
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action">
  <i class="material-icons left">fitness_center</i><i class="material-icons right">send</i>Submit
