<nav>
  <div class="nav-wrapper #212121 grey darken-4">
    <a href="/" class="brand-logo left"><i class="material-icons right">fitness_center</i></a>
    <ul id="nav-mobile" class="right">
      <%if(currentUser){%>
      <li><a href="/workout/add"><i class="material-icons right">playlist_add</i></a></li>
      <li><a href="/workout/workouts"><i class="material-icons right">assignment</i></a></li>
      <li><a href="/profile"><i class="material-icons right">person_outline</i></a></li>
      <li><a href="/auth/logout"><i class="material-icons right">lock_outline</i></a></li>
      <% } else {%>
      <li><a href="/"><i class="material-icons right">home</i></a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/signup">Signup</a></li>
      <%}%>
      </ul>
  </div>
</nav>
