<div class="homescrn">
<h1>Welcome<i class="material-icons medium">fitness_center</i></h1>

<a href="/workout/add" class="waves-effect waves-light btn"><i class="material-icons left">fitness_center</i><i class="material-icons right">playlist_add</i>Log your workout</a>
<h2>Random exercise</h2>
<h5><% var e = exercise[Math.floor(Math.random()*exercise.length)] %>
  <%= e.name %></h5>
</div>
